body,ul,li,p{
    margin: 0;
    padding:0px;
    list-style: none;
    font-size: 35;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f3f4;
}
a{
    text-decoration: none;
}
.cabecalho{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    

}
.menu{
    display: flex;
}

.menu li{
    margin-left: 10px;
    
}

.menu li a{
    display: block;
    padding: 10px;
}

.headline{
    display: flex;
    justify-items: center;
    margin-right: 10px;
}

.principal{ 
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center;
    padding: 11px;
}
.principal .chamada{
    margin: 5px;
}

img {
    max-width: 500px;
    width: 500px;
    max-height: 250px;
    height: 250px;
    border: 3px solid black;
    margin: 20px 10px;
 }
 
.logo img{
    max-width: 100px;
    width: 100px;
    max-height: 100px;
    height: 100px;
    border: 3px solid #f2f3f4;
}